.text-field {
    -fx-background-radius: 20;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #808080;
    -fx-padding: 10 35;
}
.search-Button{
    -fx-background-radius: 20;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-padding: 5 5;
}

.search-Button:hover{
    -fx-background-color: #444444;
}
.left-menu{
    -fx-background-color: #121212;
}

.playlist{
    -fx-background-radius: 5;
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: Calibri Light;
    -fx-cursor: hand;
}


.blocksong{
    -fx-cursor: hand;
}

.blocksongtext{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: black;
    -fx-background-radius: 5;
}


.buttonslide{
    -fx-background-color: #121212;
    -fx-cursor: hand;
}

.buttoncover{
    -fx-opacity: 0.5;
}